@import "../base";

body
  margin 0
  padding 0
  background #000
  color #fff

a
  text-decoration none

#board-container
  position relative
  display inline-block
  width 100%

#board-fill
  *height 100%
  margin-top 100%

#board-inner
  position absolute
  top 0
  left 0
  bottom 0
  right 0

#board
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  background url('/img/board.svg')
  background-size 100% 100%

#players
  padding 10px

.player
  display inline-block
  margin 20px

.player-name
  display block
  font-size 3em
  color #fff

.player-points
  font-size 2.6em
  color #aaa

#players-join
  opacity 0.3

#players-join-input
  width 5em
  font-size 3em
  background: none
  color #fff
  border 0
  margin 0